dd:last-child {
font-family: Orbitron;
}

dl {
  border-bottom-style: dashed;
  border-right-style: dashed;
  border-width: 1px;
  border-top-style: dashed;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-color: rgba(0,0,0,.2);
  color: rgba(0,0,0,.7);
  margin: 0;
}

dl:last-child {
  border-right-style: none;
}

dd {
  line-height: 1.5;
}
