header {
  xbackground: #333333;  /* fallback for old browsers */
  xcolor: white;
  padding: 1rem 0;
  xbox-shadow: 0 4px 12px rgba(0,0,0,.08);
}

.alakazam header {
xbackground-color: #F012BE;
}

.machamp header {
xbackground-color: #FF4136;
}

.gengar header {
xbackground-color: #B10DC9;
}

.ninetales header {
xbackground-color: #FF851B;
}

.omastar header {
xbackground-color: #0074D9;
}

.porygon header {
xbackground-color: #AAAAAA;
}

.scyther header {
xbackground-color: #2ECC40;
}
