header h1,
dd:last-child {
font-family: Orbitron;
}

header h2 {
  margin: 0;
}

small {
  font-size: 1rem;
}

dl {
  border-bottom-style: dashed;
  border-right-style: dashed;
  border-width: 1px;
  border-top-style: dashed;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-color: rgba(0,0,0,.2);
  color: rgba(0,0,0,.7);
}

dl:last-child {
  border-right-style: none;
}

dd {
  line-height: 1.5;
}

.alakazam .App {
background-color: #F012BE;
}

.alakazam th:nth-child(3),
.alakazam th:nth-child(4),
.alakazam th:nth-child(5) {
  text-align: right;
}

.alakazam td:nth-child(4),
.alakazam td:nth-child(5),
.alakazam td:nth-child(6) {
  text-align: right;
}

.machamp .App {
background-color: #FF4136;
}

.gengar .App {
background-color: #B10DC9;
}

.ninetales .App {
background-color: #FF851B;
}

.omastar .App {
background-color: #0074D9;
}

.porygon .App {
background-color: #AAAAAA;
}

.scyther .App {
background-color: #2ECC40;
}
