header h1 {
font-family: Orbitron;
}

header h2 {
  margin: 0;
}

small {
  font-size: 1rem;
}

.home .App {
  background: #FF5F6D;
  background: -webkit-linear-gradient(to bottom, #FF5F6D, #FFC371);
  background: linear-gradient(to bottom, #FF5F6D, #FFC371);
}

.home .submit {
  background: #FF5F6D;
}

.home h1 {
  background: -webkit-linear-gradient(#FF5F6D, #FFC371);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.raidboss th:nth-child(3),
.raidboss th:nth-child(4),
.raidboss th:nth-child(5),
.raidboss td:nth-child(4),
.raidboss td:nth-child(5),
.raidboss td:nth-child(6) {
  text-align: right;
}

.alakazam .App {
background-color: #F012BE;
background: -webkit-linear-gradient(to bottom, #F012BE, #85144b);
background: linear-gradient(to bottom, #F012BE, #85144b);
}

.alakazam .submit {
background-color: #F012BE;
}


.machamp .App {
background-color: #FF4136;
background: -webkit-linear-gradient(to bottom, #FF4136, #FF851B);
background: linear-gradient(to bottom, #FF4136, #FF851B);
}

.machamp .submit {
  background-color: #FF4136;
}

.gengar .App {
background-color: #B10DC9;
background: -webkit-linear-gradient(to bottom, #B10DC9, #85144b);
background: linear-gradient(to bottom, #B10DC9, #85144b);
}

.gengar .submit {
background-color: #B10DC9;
}

.ninetales .App {
background-color: #FF851B;
background: -webkit-linear-gradient(to bottom, #FF851B, #FF4136);
background: linear-gradient(to bottom, #FF851B, #FF4136);
}

.ninetales .submit {
background-color: #FF851B;
}

.omastar .App {
background-color: #0074D9;
background: -webkit-linear-gradient(to bottom, #0074D9, #7FDBFF);
background: linear-gradient(to bottom, #0074D9, #7FDBFF);
}

.omastar .submit {
background-color: #0074D9;
}


.porygon .App {
background-color: #AAAAAA;
}

.scyther .App {
background-color: #2ECC40;
}

dd:last-child {
font-family: Orbitron;
}

dl {
  border-bottom-style: dashed;
  border-right-style: dashed;
  border-width: 1px;
  border-top-style: dashed;
  text-align: center;
  border-color: rgba(0,0,0,.2);
  color: rgba(0,0,0,.7);
  margin: 0;
}

dl:last-child {
  border-right-style: none;
}

dd {
  line-height: 1.5;
  margin: 0;
}
