table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3rem;
}

th {
  position: sticky;
  top: 0;
  font-weight: 600;
}

.table-wrap {
  /* border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.1);
  border-radius: 3px; */
}

.table-wrap table {
  xmargin: 0;
}

th {
  border-bottom-style: dashed;
  border-width: 1px;
  border-top-style: dashed;
}

td {
  border-bottom-style: dashed;
  border-width: 1px;
}

.raidboss th:nth-child(3),
.raidboss td:nth-child(4) {
  display: none;
}

@media screen and (min-width: 30em) {
  .raidboss th:nth-child(3),
  .raidboss td:nth-child(4) {
    display: table-cell;
  }
}

/*
@media (--breakpoint-not-small) {
  .medium-and-larger-specific-style {
    background-color: red;
  }
}
@media (--breakpoint-medium) {
  .medium-screen-specific-style {
    background-color: red;
  }
}
@media (--breakpoint-large) {
  .large-and-larger-screen-specific-style {
    background-color: red;
  }
}

@media screen and (min-width: 30em) {}
@media screen and (min-width: 30em) and (max-width: 60em) {}
@media screen and (min-width: 60em) {}
*/
