.nav {
  padding: 1rem 0 1rem 1rem;
  background-color: #FF5F6D;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  padding: 0;
  display: inline-block;
  color: #fff;
  font-weight: 400;
}

.active {
  font-weight: 600;
}
