.nav {
  padding: 1rem 0 1rem 1rem;
  xbackground-color: #FF5F6D;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  padding: 0;
  display: inline-block;
  color: #333;
  font-weight: 400;
  font-size: .75rem;
}

.logo {
  font-family: orbitron;
  font-size: 1.25rem;
}
