nav a {
  text-decoration: none;
  padding: 0;
  display: inline-block;
  font-weight: 400;
}

.submit {
  color: #fff;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-radius: 500px;
  transition: all .2s ease-in-out;
  text-align: center;
  text-decoration: none;
}
