body {
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}

body,
p,
h3,
table,
a,
input {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  /* font-family: courier, 'Anonymous Pro', 'Space Mono', monospace; */
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: ArialRoundedMTBold; */
  /* font-family: league_monoregular; */
}

h1,
h2,
h3,
th {
  /* font-family: 'Roboto Mono', monospace; */

}

h1,
h2 {
font-family: Orbitron;
text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;

}

a {
  font-size: .875rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: .5rem;
}

th:empty,
td:empty {
  display: none;
}

.bug {
  color: #2ECC40;
}

.electric {
  color: #FFDC00;
}

.fighting {
  color: #FF4136;
}

.fire {
  color: #FF851B;
}

.flying {
  color: #7FDBFF;
}

.ghost {
  color: #B10DC9;
}

.grass,
.grasspsychic {
  color: #2ECC40;
}

.normal {
  color: #AAAAAA;
}

.poison,
.ghostpoison {
  color: #B10DC9;
}

.psychic {
  color: #F012BE;
}

.water {
  color: #0074D9;
}

.submit {
  color: #fff;
  font-family: Orbitron;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1;
  xbackground: linear-gradient(to bottom, #24CCAA, #A2DB95);
  border-radius: 5px;
  xborder-radius: 500px;
  box-shadow: 0 0 0 2px #fff inset;
  transition: all .2s ease-in-out;
  text-align: center;
  xborder: 1px solid #ddd;
  text-decoration: none;
}

.hero {
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FF5F6D, #FFC371);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FF5F6D, #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
