:root {
  --base-font-size: 13px;
  --base-spacing: 1rem;
  --spacing2: .5rem;
  --font-code: Consolas, monaco, monospace;
  --font-code: 'Roboto Mono', monospace;
  --font-display: Orbitron;
  --white: #ffffff;
  --dark-gray: #333333;
  --bug: #2ECC40;
  --dragon: #001f3f;
  --dark: #111111;
  --electric: #FFDC00;
  --fighting: #FF4136;
  --fire: #FF851B;
  --flying: #7FDBFF;
  --ghost: #B10DC9;
  --grass: #2ECC40;
  --ground: #85144b;
  --ice: #7FDBFF;
  --normal: #AAAAAA;
  --psychic: #F012BE;
  --poison: #B10DC9;
  --steel: #AAAAAA;
  --water: #0074D9;
  --lh-title: 1.5;
  --fw4: 400;
  --ls1: .1em;

  --blank-theme-color-1: #111111;
  --blank-theme-color-2: #333333;

  --perfect-theme-color-1: #111111;
  --perfect-theme-color-2: #333333;

  --home-theme-color-1: #FF5F6D;
  --home-theme-color-2: #FFC371;

  --fighting-type-theme-color-1: #FF4136;
  --fighting-type-theme-color-2: #FF851B;

  --fire-type-theme-color-1: #FF851B;
  --fire-type-theme-color-2: #FF4136;

  --ghost-type-theme-color-1: #B10DC9;
  --ghost-type-theme-color-2: #85144b;

  --psychic-type-theme-color-1: #F012BE;
  --psychic-type-theme-color-2: #85144b;

  --water-type-theme-color-1: #0074D9;
  --water-type-theme-color-2: #7FDBFF;

}

.blank-theme .App,
.blank-theme h1,
.blank-theme .submit,
.blank-theme .submit:hover  {
  --color-1: var(--blank-theme-color-1);
  --color-2: var(--blank-theme-color-2);
}

.perfect-theme .App,
.perfect-theme h1,
.perfect-theme .submit,
.perfect-theme .submit:hover  {
  --color-1: var(--blank-theme-color-1);
  --color-2: var(--blank-theme-color-2);
}

.home-theme .App,
.home-theme h1,
.home-theme .submit  {
  --color-1: var(--home-theme-color-1);
  --color-2: var(--home-theme-color-2);
}

.fighting-type-theme .App,
.fighting-type-theme h1,
.fighting-type-theme .submit,
.fighting-type-theme .submit:hover  {
  --color-1: var(--fighting-type-theme-color-1);
  --color-2: var(--fighting-type-theme-color-2);
}

.fire-type-theme .App,
.fire-type-theme h1,
.fire-type-theme .submit,
.fire-type-theme .submit:hover  {
  --color-1: var(--fire-type-theme-color-1);
  --color-2: var(--fire-type-theme-color-2);
}

.ghost-type-theme .App,
.ghost-type-theme h1,
.ghost-type-theme .submit,
.ghost-type-theme .submit:hover  {
  --color-1: var(--ghost-type-theme-color-1);
  --color-2: var(--ghost-type-theme-color-2);
}

.psychic-type-theme .App,
.psychic-type-theme h1,
.psychic-type-theme .submit,
.psychic-type-theme .submit:hover  {
  --color-1: var(--psychic-type-theme-color-1);
  --color-2: var(--psychic-type-theme-color-2);
}

.water-type-theme .App,
.water-type-theme h1,
.water-type-theme .submit,
.water-type-theme .submit:hover  {
  --color-1: var(--water-type-theme-color-1);
  --color-2: var(--water-type-theme-color-2);
}

/* THEMEABLE BITS */

.App {
  transition: all .2s ease-in-out;
  background: var(--color-1);
  background: -webkit-linear-gradient(to bottom, var(--color-1), var(--color-2));
  background: linear-gradient(to bottom, var(--color-1), var(--color-2));
}

.home-theme h1 {
  background: -webkit-linear-gradient(var(--color-1), var(--color-2));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

h1 {
  color: var(--color-1);
}

.submit {
  background-color: var(--color-1);
}

.submit:hover {
  background-color: var(--color-2);
}

.active {
  color: var(--color-1);
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

html {
  height: 100%;
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
min-height: 100%;
}

main {
  background-color: var(--white);
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
  font-family: var(--font-code);
  font-size: var(--base-font-size);
}

h1,
h2 {
font-family: var(--font-display);
}

h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h3 {
  margin-bottom: var(--base-spacing);
  font-size: var(--base-font-size);
  font-weight: var(--fw4);
}

.home-theme h3 {
  font-size: 1.5rem;
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  padding: 2rem 0;
}

.hero p {
  font-size: var(--base-font-size);
}

.perfect th:nth-child(3),
.perfect td:nth-child(4) {
  text-align: right;
}

h3:empty {
  display: none;
}

a {
  font-size: var(--base-font-size);
  color: var(--dark-gray);
  text-decoration: none;
  outline: none;
}

.link:focus {
  outline: none;
}

th:empty,
td:empty {
  display: none;
}

.bug * { color: var(--bug);}
.dark * { color: var(--dark);}
.dragon * { color: var(--dragon);}
.electric * {color: var(--electric);}
.fighting * {color: var(--fighting);}
.fire * {color: var(--fire);}
.flying * {color: var(--flying);}
.ghost * {color: var(--ghost);}
.grass * {color: var(--grass);}
.ground * {color: var(--ground);}
.ice * {color: var(--ice);}
.normal * {color: var(--normal);}
.poison * {color: var(--poison);}
.psychic,
.psychic * {color: var(--psychic);}
.steel * {color: var(--steel);}
.water * {color: var(--water);}

/* .home h3 {
  font-family: var(--font-display);
} */

/* .perfect td {
  font-family: var(--font-display);
  font-size: 2rem;
} */

/*
@media all and (max-width: 450px) {
  :root {
    --columns: 200px;
    --base-margin: 15px;
    --base-font-size: 20px;
}
*/

/*  ANIMATIONS */

@keyframes no-transform {
  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation: no-transform .2s ease-out forwards;
  transform: translateY(80vh);
}

.fadeIn {
  animation: no-transform .2s ease-out forwards;
  opacity: 0;
  /* transform: translateY(-1rem); */
}

.fadeInDown {
  animation: no-transform .2s ease-out forwards;
  opacity: 0;
  transform: translateY(1rem);
}

.perfectcp,
.perfectcp-stat {
  animation-delay: .3s;
}
.weatherboost,
.weatherboost-stat {
  animation-delay: .4s;
}
.prefers,
.prefers-stat {
  animation-delay: .5s;
}

.record-1 { animation-delay: .6s; }
.record-2 { animation-delay: .7s; }
.record-3 { animation-delay: .8s; }
.record-4 { animation-delay: .9s; }
.record-5 { animation-delay: 1s; }
.record-6 { animation-delay: 1.1s; }

.hero h1 {animation-delay: .2s;}
.hero p {animation-delay: .3s;}

.perfect-theme table {
  font-family: var(--font-display);
  font-size: 3rem;
}

.perfect-theme th:nth-child(2),
.perfect-theme td:nth-child(3) {
  text-align: right;
}

.perfect-theme th {
  border: 0;
  font-size: 1rem;
  text-transform: none;
  color: var(--dark)
}

.perfect-theme td {
  padding-bottom: 0;
  border: 0;
}

/* .one td:nth-child(2),
.one td:nth-child(4){
  text-align: right;
} */
