body {
/* text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased; */
}

body,
p,
h3,
table,
a,
input {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  /* font-family: courier, 'Anonymous Pro', 'Space Mono', monospace; */
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: ArialRoundedMTBold; */
}

h1,
h2,
h3,
th {
  /* font-family: 'Roboto Mono', monospace; */

}

h1 {

}

h2 {
  font-size: 20px;
  margin-bottom: 2rem;
}

h3 {
  /* font-size: .875rem; */
  margin-bottom: 1rem;
  font-size: 15px;
}

a {
  font-size: .875rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: .5rem;
}

th:empty,
td:empty {
  display: none;
}

.bug {
  color: #2ECC40;
}

.electric {
  color: #FFDC00;
}

.fighting {
  color: #FF4136;
}

.fire {
  color: #FF851B;
}

.flying {
  color: #7FDBFF;
}

.ghost {
  color: #B10DC9;
}

.grass,
.grasspsychic {
  color: #2ECC40;
}

.normal {
  color: #AAAAAA;
  font-weight: 600;
}

.poison,
.ghostpoison {
  color: #B10DC9;
}

.psychic {
  color: #F012BE;
}

.water {
  color: #0074D9;
}

.submit {
  color: #fff;
  background: linear-gradient(to bottom, #24CCAA, #A2DB95);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  transition: all .2s ease-in-out;
  text-align: center;
  xborder: 1px solid #ddd;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
