body {
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}

h1,
h2 {
font-family: Orbitron;
}

h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 1rem;
  font-weight: 400;
}

.home h3 {
  font-family: orbitron;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

a {
  font-size: .875rem;
}

th:empty,
td:empty {
  display: none;
}

.bug {
  color: #2ECC40;
}

.electric {
  color: #FFDC00;
}

.fighting {
  color: #FF4136;
}

.fire {
  color: #FF851B;
}

.flying {
  color: #7FDBFF;
}

.ghost {
  color: #B10DC9;
}

.grass,
.grasspsychic {
  color: #2ECC40;
}

.normal {
  color: #AAAAAA;
}

.poison,
.ghostpoison {
  color: #B10DC9;
}

.psychic {
  color: #F012BE;
}

.water {
  color: #0074D9;
}

.submit {
  color: #fff;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-radius: 500px;
  transition: all .2s ease-in-out;
  text-align: center;
  text-decoration: none;
}



main {
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
  font-family: 'Roboto Mono', monospace;
}
