body {
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}

body,
p,
h3,
table,
a,
input {
  font-family: courier, 'Anonymous Pro', 'Space Mono', monospace;
  /* font-family: 'Roboto Mono', monospace; */
}

h1,
h2,
h3,
th {
  /* font-family: 'Roboto Mono', monospace; */

}

h1 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin-bottom: 2rem;
}

h3 {
  /* font-size: .875rem; */
  margin-bottom: 1rem;
  font-size: 15px;
}

a {
  font-size: .875rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: .5rem;
}

th:empty,
td:empty {
  display: none;
}

.bug {
  color: #2ECC40;
}

.electric {
  color: #FFDC00;
}

.fighting {
  color: #FF4136;
}

.fire {
  color: #FF851B;
}

.flying {
  color: #7FDBFF;
}

.ghost {
  color: #B10DC9;
}

.grass,
.grasspsychic {
  color: #2ECC40;
}

.normal {
  color: #AAAAAA;
  font-weight: 600;
}

.poison,
.ghostpoison {
  color: #B10DC9;
}

.psychic {
  color: #F012BE;
}

.water {
  color: #0074D9;
}

.f6 {
  font-size: .75rem;
}

@media screen and (min-width: 30em) {
  .f6 {
    font-size: .875rem;
  }
}
